[Unit]
Description=Node Exporter
After=network.target
 
[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/node_exporter  --collector.bcache --collector.bonding --collector.conntrack --collector.cpu --collector.cpufreq --collector.diskstats --collector.drbd --collector.edac --collector.entropy --collector.filefd --collector.filesystem --collector.hwmon --collector.infiniband --collector.interrupts --collector.ipvs --collector.ksmd --collector.loadavg --collector.logind --collector.mdadm --collector.meminfo --collector.meminfo_numa --collector.mountstats --collector.netclass --collector.netdev --collector.netstat --collector.nfs --collector.nfsd --collector.ntp --collector.pressure --collector.processes --collector.qdisc --collector.runit --collector.sockstat --collector.stat --collector.supervisord --collector.systemd --collector.tcpstat --collector.time --collector.timex --collector.uname --collector.filesystem.ignored-mount-points="" --collector.perf --collector.diskstats.ignored-devices=""

 
[Install]
WantedBy=multi-user.target