-----BEGIN CERTIFICATE-----
MIID5TCCAs2gAwIBAgIUM3rmrJiotmY0OC4ijK0MzZLqHXgwDQYJKoZIhvcNAQEL
BQAwgYExCzAJBgNVBAYTAlJVMQwwCgYDVQQIDANFS0IxDDAKBgNVBAcMA0VLQjER
MA8GA1UECgwIbXktc3RlbmQxDDAKBgNVBAsMA0RJVDEUMBIGA1UEAwwLbXktc3Rl
bmQucnUxHzAdBgkqhkiG9w0BCQEWEGluZm9AbXktc3RlbmQucnUwHhcNMjQxMjIy
MTEzMTA2WhcNMjUxMjIyMTEzMTA2WjCBgTELMAkGA1UEBhMCUlUxDDAKBgNVBAgM
A0VLQjEMMAoGA1UEBwwDRUtCMREwDwYDVQQKDAhteS1zdGVuZDEMMAoGA1UECwwD
RElUMRQwEgYDVQQDDAtteS1zdGVuZC5ydTEfMB0GCSqGSIb3DQEJARYQaW5mb0Bt
eS1zdGVuZC5ydTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKJZRWve
oMnxEZmI/xsIb30w+2bdHdH/mjA31u2UT+VUBLmqUNXO13wIf4fU0zjF9F0zJAtc
sRa0mwA9vMq48bfOEB2Tk6nP1AMgsxaaf5gacQMvrpxn1Htf/AfY6e07uluD5MH5
acdPmr8M/q10cmD7EvxJHCFKUUPDqVC0iSpAQ7kjVe024drXDzIabDGzsWwnYbSQ
hpI22QoAhqSn5ApNrek9jL2NS3+/Dr0jxeTI62bScRMp4NRHQljsES8iUDUNnPSd
zrvgTLlTih3d4k5kA+jPXVLp4nzcZp6i1esv4pBak2Y2SYMkwZSXA90wacQyYbZ1
18teMPkYS6GETi8CAwEAAaNTMFEwHQYDVR0OBBYEFAp+1WEW/NObUWHMZxW8Psi/
FzVaMB8GA1UdIwQYMBaAFAp+1WEW/NObUWHMZxW8Psi/FzVaMA8GA1UdEwEB/wQF
MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAEaPMx/fbA1u0345Q7ass/EWeMc8C+C1
go9lI2w8korCTMy+gQzWLEqItEsmxC4oKpobRMPyceGepkMPTPKmKYLnKnLq759D
0sN6tHi5xQluqn8lVorQHako+jmdkBieq8yswwtNrovpfprkKZ7Ax4ifJdMMILoE
N3DeqQsuiS4NZhb3ycQOwqfiLWJvOTm/3RaJZJeZkjrfBfZiEW4ydzskuzRIJ7Rk
otWLCnsab+UqFPUKneL5PBHWIXv+Fs7lMi65XiXNS988LDvt1WGfEVgmRvC423CT
wx7VUuYaVxKFcNJpMuBh7w9CqQU2Ub8DfjJ1AG1lAH9YCDlTE26tCSw=
-----END CERTIFICATE-----
